@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.main{
    background-color: #ccc;
    width: 400px;
    height: 175px;
    margin: 100px   auto;
    position: relative;
    padding: 30px;
}

.badge{
    width: 96px;
    background-color: #e66367;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -10%;
    left: 40%; 

}

.clock{
    background-color: #ebebeb;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 15px;
    border-radius: 4px;
    font-family: "BioRhyme", sans-serif;
}
